<% @articles.each do |article|%>
  <% user = @users.find_by(id: article.user_id) %>
  <div class = "article-container">
    <p><%= link_to "#{user.nickname} #{article.created_at.strftime('%m/%d/%y(%a)%H:%M:%S')} No.#{article.id}", article_path(article)  %></p>
    <p><%= "#{article.title}"%></p>
</div>
<% end %>
