body {
  background: #c4c8de;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container {
  background: #ffffff;
}

.container, .navbar {
  padding: 20px;
}

.navbar {
  background-color: #ee3575;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px; /* Add space between nickname and button */
}